
#skillmap .skills-wrapper {
    margin-top: 10px;
    overflow: auto;
}

#skillmap .skills-sunburst {
    float: left;
    width: 500px;
    margin-left: -140px;
}

#skillmap .skills-sunburst svg {
    font: 10px 'Source Sans Pro', sans-serif;
    font-weight: 900;
    cursor: pointer;
}

#skillmap .skills-chart {
    float: right;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 11px;
    font-weight: 700;
    margin: 80px -15px 0 0;
}

#skillmap .skills-chart #skills-chart-breadcrumb {
    /* padding: 30px; */
    margin-left: 50px;
}

#skillmap .skills-chart .breadcumb-text {
    font-size: 10px;
    font-weight: 700;
}

#skillmap .skills-chart #skills-chart-line {
    fill: none;
    stroke-width: 3.5px;
}

#skillmap .skills-chart .axis path,
#skillmap .skills-chart .axis line {
    fill: none;
}

#skillmap .skills-chart .x-axis path,
#skillmap .skills-chart .y-axis path {
    stroke: #444;
    stroke-width: 1px;
    shape-rendering: geometricPrecision;
}